* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    }
    img {
    max-width: 100%;
    }
    header{
        background-color: #255ee9;
        min-height: 125px;
        align-items: center;
        display: flex;
        justify-content: space-between;

    }
    .row-header{
        display: flex;
        border: red dashed 3px;
        width: 2000px;
        height: 55px;
        padding: 15px;
    }
    .col-login{
        background-color: white;
        border-radius: 5px;
        width: 50px;
    }
  .container-main{
background-image: url('img/jumbo.png');
min-height: 800px;
background-size: cover;
text-align: center;
padding: 150px;
}
